<h2>Anmelden</h2>

<form method="post" asp-controller="Auth" asp-action="Login" class="login">
    <div>
        <input type="text" name="email" placeholder="E-Mail" />
    </div>
    <div>
        <input type="password" name="kennwort" placeholder="Passwort" />
    </div>
    <div>
        <button type="submit">Anmelden</button>
    </div>
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
</form>
